@use "../../styles/mixins" as *;

.gridWrap {
  width: 100%;
  max-width: var(--layout-content-max);
  padding-right: var(--layout-container-gutter);
  padding-left: var(--layout-container-gutter);
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: var(--layout-grid-gutter);
  width: 100%;

  @include breakpoint(s) {
    grid-template-columns: repeat(12, 1fr);
  }
}
