@use "../../styles/mixins" as *;

.gridWrap {
  width: 100%;
  padding-right: var(--layout-container-gutter);
  padding-left: var(--layout-container-gutter);
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--layout-grid-gutter);
  width: 100%;
}
