@use "../../styles/mixins" as *;

.aboutHero {
  padding: 35vh 0 clampy(var(--space-10), var(--space-14));

  @include breakpoint(s) {
  }
}

.title {
  grid-column: 1 / -1;
  color: var(--color-fg-primary);
  text-wrap: balance;
  max-width: 25ch;

  @include inview-animate(fade-slide-up, 0);
}
