@use "../../styles/mixins" as *;

.mediaGroup {
  margin: 0 auto;
  max-width: var(--layout-content-max);
  padding: calc(clampy(var(--space-3), var(--space-9)) / 2)
    var(--layout-container-gutter);
}

.inner {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: clampy(var(--space-3), var(--space-9));
}

.item {
  position: relative;
  overflow: hidden;
  border-radius: var(--radius-2);
}

.itemInner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: var(--radius-2);

  @include inview-animate(fade-slide-up, 0);
}

.item--full {
  grid-column: span 2;
  aspect-ratio: 4 / 5;

  @include breakpoint(xs) {
    aspect-ratio: 16 / 9;
  }
}

.item--half {
  grid-column: span 2;
  aspect-ratio: 1 / 1;

  @include breakpoint(xs) {
    grid-column: span 1;
  }
}

.item--max {
  grid-column: span 2;
  aspect-ratio: 67 / 92;

  @include breakpoint(xs) {
    grid-column: span 2;
    grid-row: span 2;
    aspect-ratio: 1;
  }
}

.item--mega {
  grid-column: span 2;
  aspect-ratio: 4 / 5;
}
