@use "../../styles/mixins" as *;

.homeHero {
  position: relative;
  padding: 0 0 clampy(var(--space-10), var(--space-15));
}

.hand {
  grid-column: 1 / -1;
}

.wrapper {
  margin-top: -30vh;
  grid-column: 1 / span 5;
  display: flex;
  flex-direction: column;
  row-gap: clampy(var(--space-4), var(--space-8));
  padding-right: clampy(var(--space-2), var(--space-6));

  @include breakpoint(s) {
    grid-column: 8 / span 5;
  }
}

.description {
  text-wrap: pretty;
  max-width: 30ch;
}
