@use '../../styles/mixins' as *;

.cardGridWrap {
  margin: clampy(var(--space-10), var(--space-14)) auto;
  max-width: var(--layout-content-max);
  padding: 0 var(--layout-container-gutter);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: clampy(var(--space-10), var(--space-13));
}

.cardGrid {
  align-items: start;
  display: grid;
  gap: var(--space-10);
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  @include breakpoint(m) {
    gap: clampy(var(--space-10), var(--space-12)) clampy(var(--space-7), var(--space-9));
    grid-template-columns: repeat(2, 1fr);
  }
}

.gridItem {
  @include inview-animate(fade-slide-up, var(--animation-index, 4));
}
